/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$White: #FFFFFF;
$darkBrown: #615025;
$lightBrown: #8f741e;
$black: #0a0b0a;
$deepYellow: #f6b813;

body {
  background-color: $White;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $darkBrown;
  margin: 0; padding: 0;
  font-family: Meiryo, sans-serif;
}

/* リンク */

a{
  text-decoration: none;
  &:link { color: $darkBrown; }
  &:visited { color: $lightBrown; }
  &:hover { color: $black; }
}

// a:link { color: $darkBrown; }
// a:visited { color: $lightBrown; }
// a:hover { color: $black; }
a img { border: none; }


/* ブロック要素 */
p, h1, h2, h3, table, ul {
  margin: 0 0 1em;
}

/**************** 全体の枠 ****************/
div#container {
  margin: 0 auto;
  padding-top: 10px;
  width: 980px;
  height: 850px;
}


/**************** ヘッダー(画像) ****************/
div#header {
}

/**************** 各ページの見出し ****************/
div#title {
  padding:5px 5px 10px 5px;
  border-color: $deepYellow;
  border-width:0 0 1px 7px;
  border-style:solid;
  background: $White;
}

/**************** メニューバー ****************/
div.menubar {
  padding: 5px;
  background-color: $black;
  color: #e7e6e3; 
  /*黄色。div.memubar spanがなければこれが現在のページのリンクの色になる。今はあるので境界線の色。これが無くてはbodyに書いてある全体の文字を決めるcolorの色になる*/
  font-size: 120%;
  padding: 12px 12px;
  margin: 0px 0px 10px 0px;
}

/* メニューバーのリンク */
div.menubar a { text-decoration: none; }

/* メニューバーのリンク（現在のページ） */
div.menubar span {
  color: #e7e6e3;
  font-weight: bold;
}

/* メニューバーのリンク（未訪問） */
div.menubar a:link { color: $lightBrown; }

/* メニューバーのリンク（訪問済） */
div.menubar a:visited { color: $deepYellow; } /*濃い黄色*/

/* メニューバーのリンク（マウスを合わせたとき） */
div.menubar a:hover {
  color: #e7e6e3; /*灰色*/
  text-decoration: underline;
}


/**************** フッター ****************/
div#footer {
  clear: both;
  font: 14px Verdana;
  color: $darkBrown;
  padding: 8px 0;
  border-top: 4px solid $deepYellow;
  text-align: center;
}

/**************** マニア民プロフィール ****************/
/**************** 表：一覧表示、詳細表示 ****************/
table.memberList, table.attr, table.liveList, table.bandList {
  font-size: 90%;
  width: 100%;
}

table.memberList th, table.attr th, table.liveList th, table.bandList th { /*一番上の行*/
  background-color: #ba992f;
  color: $darkBrown; /*行の文字色*/
  font-weight: normal;
}

table.memberList td, table.memberList th,
table.attr td, table.attr th,
table.liveListtd td, table.liveList th,
table.bandList td, table.bandList th{
  padding: 4px;
}

table.memberList th, table.liveList th, table.bandList th{
  text-align: left;
}

table.attr th {
  text-align: right;
}

table.memberList td, table.attr td, table.liveList td, table.bandList td{
  background-color: #fdc816;
}
